<div class="wrapper">
  <div class="spinner-container" *ngIf="dataSource?.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table
    [dataSource]="dataSource!"
    matSort matSortActive="login" matSortDirection="desc"
  >

    <ng-container matColumnDef="avatar_url">
      <mat-header-cell class="mat-column-avatar" *matHeaderCellDef>Avatar</mat-header-cell>
      <mat-cell class="mat-column-avatar" *matCellDef="let user">
        <img
          alt="User avatar"
          [cdkCopyToClipboard]="user.avatar_url"
          src="{{user.avatar_url}}"
          matTooltip="Copy avatar url"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Login</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let user">{{user.login}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let user">{{user.type}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: columns"></mat-row>

  </mat-table>

  <mat-paginator
    [length]="dataSource?.pages$ | async"
    [hidePageSize]="true"
    [pageSize]="pageSize"
    aria-label="Select page"
  ></mat-paginator>

</div>
