.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-avatar {
  max-width: 100px;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #fafafa;
  }
}
